h1 {
    font-family: 'helvetica';
    font-size: 100px;
    color: white;
    text-align: center;
    padding: 160px 10px 0px 0px;
    margin-bottom: 0em;
}
body {
 background: url(https://s-media-cache-ak0.pinimg.com/originals/8f/ac/81/8fac815e28f74b0d73f5ef6e1bdd1592.jpg) no-repeat;
    background-size: cover;
}
p {
    font-family: 'helvetica';
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 0px 180px 0px 180px;
    margin-top:0em;
}