body {
    text-align: center;
    background: url(http://www.tourpoint.lv/images/tours/multi-day-lithuania-vilnius-city-break-159-1403.jpg) no-repeat;
    background-size: cover;
}
h1 {
    color:white;
    font-size: 100px;
    font-family: 'Julius Sans One', sans-serif;
    padding: 80px 10px 0px 10px;
    margin-bottom: 0em;
}
h2 {
    color:white;
    font-size: 40px;
    font-family: 'Julius Sans One', sans-serif;
    padding: 0px 10px 0px 10px;
    margin-top:1em;
}
.img-circle {
    margin: 10px 60px 0px 60px;
    border: 7px solid white;
    border-radius: 50%;
}